.displayChange {
    display:none;
}


#title {
    font-family: 'Ysabeau Office', sans-serif;
    color:dodgerblue;
    text-align: center;
    margin: 3rem;
}

#contentBox {
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    justify-content: center;
    max-height: 578px;
}

#map {
    height: 500px;
}

#formCardBody {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

#instructionsBox {
    margin-left: 0%;
    margin-right: 0%;
    justify-content: center
}

#routeInfoSection {
    margin-top: 2rem;
}

#formBox {
    height: 100%;
}
