.box {
    margin-left: 0%;
    margin-right: 0%;
    justify-content: center;
}

#title {
    font-family: 'Ysabeau Office', sans-serif;
    color:dodgerblue;
    text-align: center;
    margin: 3rem;
}

#map {
    height: 500px;
}

#contentBox {
    text-align: center;
}

#formCardBody {
    display: flex;
    align-items: center;
    justify-content: center;
}

#routeInfoSection {
    margin-top: 2rem;
}

#formBox {
    height: 100%;
}